.sidebar-menu {

    ul {
        margin: 0rem;
        list-style: none;

        li {
            margin-top: 0;

            a.btn.btn-lg {
                text-align: left;
                width: 100%;

                height: auto;
                padding: 0.6rem 0.8rem;
                margin-bottom: 1.2rem;
                
                i {
                    margin-right: 9px;
                    transition: margin 0.2s, background-color 0.1s;
                }
            }

            a.btn-link {
                &.active {
                    background-color: $light-color;
                }
                
                &:hover {
                    border: 1px solid $border-color;
                }
            }

            a.btn-mobile {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: $size-lg) {
    .sidebar-menu {
        ul {
            li {
                a.btn-desktop {
                    display: none;
                }
                a.btn-mobile {
                    display: block;
                }
            }
        }
    }
}